
body{
    background-color:#000!important;
}
img.card-img{
  width:250px;
}

/*

.image-wrapper{
    display:flex;
}

.card-title{
    height:12px;
    width:100%;
}

 
body{
    background-color:#000;
}

   .card{
    min-width:100%;

}

input {
    margin:30px 10px 10px 10px;
}

.card-group{
    width: 300px;
    display:flex;
    flex-direction:row;
}
*/